.hideTitle {
    height: 35%;
    animation: titleGrow .4s ease-in-out;
}

.showTitle {
    height: 30%;
    animation: titleShrink .4s ease-in-out;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

.cardTitle {
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cardText{
    width: 80%;
    font-size: 2.4vh;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 85%;
}

.cardShow {
    position: fixed;
    background-color: white;
    opacity: 95%;
    top: 0px;
    left: 10vw;
    height: 40vh;
    width: 80vw;
    box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
    animation: cardReveal .4s ease-in-out;
}

.cardHide {
    position: fixed;
    background-color: white;
    opacity: 0;
    top: 0px;
    left: 10vw;
    height: 40vh;
    width: 80vw;
    box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
    animation: cardHide .4s ease-in-out;
}

.sectionGrow {
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 0;
    /* animation: sectionGrow .15s ease-in-out; */
}

.sectionShrink {
    height: 76vh;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10vw;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: visible;
    animation: sectionShrink .15s ease-in-out;
}

@media (min-aspect-ratio: 2/3){
    .cardShow {
        position: fixed;
        background-color: white;
        opacity: 95%;
        top: 0px;
        left: 10vw;
        height: 32vh;
        width: 80vw;
        box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
        animation: cardReveal .4s ease-in-out;
    }
    
    .cardHide {
        position: fixed;
        background-color: white;
        opacity: 0;
        top: 0px;
        left: 10vw;
        height: 40vh;
        width: 80vw;
        box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
        animation: cardHide .4s ease-in-out;
    }
    
    .hideTitle {
        height: 30vh;
        opacity: 0%;
        animation: fadeOut .2s ease-in-out;
        transition: all .5s;
    }
}

@media (min-aspect-ratio: 19/24){
    .hideTitle {
        height: 30vh;
        opacity: 0%;
        animation: fadeOut .2s ease-in-out;
    }
    
    .showTitle {
        height: 30vh;
        opacity: 100%;
        animation: none;
    }
    
    #card {
        display: inline;
        flex-direction: auto;
        justify-content: auto;
        border-bottom-right-radius: 0vh;
        border-bottom-left-radius: 0vh;
    }
    
    .cardTitle {
        display: inline-block;
        justify-content: auto;
        align-items: auto;
        height: 15%;
        width: 40vw;
        font-size: 6.5vh;
        margin-left: 3vh;
        margin-top: 2vh;
        animation: textReveal .8s ease-in-out;
    }
    
    .cardText{
        height: 80%;
        width: 50%;
        font-size: 2.4vh;
        margin-left: 3vh;
        margin-top: 1.5vh;
        animation: textReveal .8s ease-in-out;
    }
    
    .cardShow {
        position: fixed;
        background-color: white;
        opacity: 95%;
        top: 34vh;
        left: 5vw;
        height: 32vh;
        width: 90vw;
        box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
        animation: cardReveal2 .5s ease-in-out;
    }
    
    .cardHide {
        position: fixed;
        background-color: white;
        opacity: 95%;
        top: 34vh;
        left: 0vw;
        width: 90vw;
        height: 32vh;
        box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
        animation: cardHide2 .5s ease-in-out;
    }
    
    .sectionShrink {
        height: 100vh;
        margin-right: 0%;
        margin-left: 0%;
        margin-top: 0vh;
        margin-bottom: 0vh;
        border-radius: 0vw;
    }
}

@media (min-aspect-ratio: 4.5/3) {
    .hideTitle {
        height: 30vh;
        opacity: 0%;
        animation: fadeOut .2s ease-in-out;
    }
    
    .showTitle {
        height: 30vh;
        opacity: 100%;
    }
    
    #card {
        display: inline;
        flex-direction: auto;
        justify-content: auto;
        border-bottom-right-radius: 0vh;
        border-bottom-left-radius: 0vh;
    }
    
    .cardTitle {
        display: inline-block;
        justify-content: auto;
        align-items: auto;
        height: 15%;
        width: 30vw;
        font-size: 7vh;
        margin-left: 4vh;
        margin-top: 3vh;
        animation: textReveal .8s ease-in-out;
    }
    
    .cardText{
        height: 80%;
        width: 50%;
        font-size: 3vh;
        margin-left: 4vh;
        margin-top: 2vh;
        animation: textReveal .8s ease-in-out;
    }
    
    .cardShow {
        position: fixed;
        background-color: white;
        opacity: 95%;
        top: 30vh;
        left: 5vw;
        height: 40vh;
        width: 90vw;
        box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
        animation: cardReveal2 .5s ease-in-out;
    }
    
    .cardHide {
        position: fixed;
        background-color: white;
        opacity: 95%;
        top: 30vh;
        left: 0vw;
        width: 90vw;
        height: 40vh;
        box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
        animation: cardHide2 .5s ease-in-out;
    }
}

@keyframes titleGrow {
    0%{
        height: 30%;
    }
    100%{
        height: 35%
    }
}

@keyframes titleShrink {
    0%{
        height: 35%;
    }
    100%{
        height: 30%
    }
}

@keyframes cardReveal {
    0%{
        opacity: 0;
        background-color: none;
    }
    50%{
        opacity: 0;
        background-color: none;
    }
    51%{
        opacity: 1;
        transform: translateY(-200%);
        background-color: white;
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
        background-color: white;
    }
}

@keyframes cardHide {
    0%{
        opacity: 1;
        transform: translateY(0%);
        background-color: white;
    }
    51%{
        opacity: 1;
        transform: translateY(-200%);
        background-color: white;
    }
    50%{
        opacity: 0;
        transform: translateY(-200%);
        background-color: none;
    }
    100%{
        opacity: 0;
        transform: translateY(-200%);
        background-color: none;
    }
}

@keyframes sectionGrow {
    0%{
        height: 76vh;
        border-radius: 10vw;
    }
    80%{
        height: 100%;
        border-radius: 10vw;
    }
    100%{
        height: 100%;
        border-radius: 0vw;
    }
}

@keyframes cardReveal2 {
    0%{
        opacity: 0;
        background-color: none;
    }
    20%{
        opacity: 0;
        background-color: none;
    }
    21%{
        opacity: .7;
        width: 0vw;
        /* transform: translateX(-100%); */
        background-color: white;
    }
    100%{
        opacity: .95;
        width: 90vw;
        /* transform: translateX(0%); */
        background-color: white;
    }
}

@keyframes cardHide2 {
    0%{
        opacity: 1;
        transform: translateY(0%);
        background-color: white;
    }
    51%{
        opacity: 1;
        transform: translateX(-100%);
        background-color: white;
    }
    50%{
        opacity: 1;
        transform: translateX(-100%);
        background-color: white;
    }
    100%{
        opacity: 0;
        transform: translateX(-100%);
        background-color: none;
    }
}

@keyframes textReveal {
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
}