.box {
    overflow: visible;
    scroll-snap-align: center;
    display: flex;
    color: white;
    width: 60vw;
    height: 60vw;
    padding: 3vw;
}

.box > img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 2px 1px 3px rgb(0 0 0 / .2);
    filter: grayscale(100%);
    cursor: pointer;
}

.firstBox {
    margin-left: calc(50vw - 15vw);
}

.lastBox {
    margin-right: calc(50vw - 15vw);
}

.slideRight {
    animation: slideRight .4s ease-in-out;
}

.slideRightBack {
    animation: slideRightBack .2s ease-in-out;
}

@keyframes slideRight {
    0%{
        transform: translateX(100vw);
        opacity: .1;
    }
    100%{
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes slideRightBack {
    0%{
        transform: translateX(0vw);
        opacity: 1;
    }
    100%{
        transform: translateX(100vw);
        opacity: .1;
    }
}
