.box {
    overflow: visible;
    scroll-snap-align: center;
    display: flex;
    color: white;
    width: 60vw;
    height: 60vw;
    padding: 5vw;
}

.box > img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 2px 1px 3px rgb(0 0 0 / .2);
    cursor: pointer;
}

.projectScroller {
    height: 70%;
    width: 100%;
    z-index: 50;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.grey {
    filter: grayscale(100%);
}

.firstBox {
    margin-left: calc(50vw - 15vw);
}

.lastBox {
    margin-right: calc(50vw - 15vw);
}

.slideRight {
    animation: slideRight .4s ease-in-out;
}

.slideRightBack {
    animation: slideRightBack .2s ease-in-out;
}

.fadeIn {
    animation: fadeIn .4s ease-in-out;
}

.fadeOut {
    animation: fadeOut .5s ease-in-out;
}

@keyframes slideRight {
    0%{
        transform: translateX(100vw);
        opacity: .1;
    }
    100%{
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes slideRightBack {
    0%{
        transform: translateX(0vw);
        opacity: 1;
    }
    100%{
        transform: translateX(100vw);
        opacity: .1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}