.scroller {
    height: 70%;
    z-index: 5;
    position: absolute;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    /* scroll-snap-align: center; */
    -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.scroller106 {
    width: 106.4%;
    left: -3.2%;
}

.scroller100 {
    width: 100%;
}

.slideRight {
    animation: slideRight .4s ease-in-out;
}

@keyframes slideRight {
    0%{
        transform: translateX(100vw);
        opacity: .1;
    }
    100%{
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes slideUp {
    0%{
        transform: translateY(100vw);
        opacity: .1;
    }
    100%{
        transform: translateY(0vw);
        opacity: 1;
    }
}

@media (min-aspect-ratio: 19/24){
    .scroller {
        height: 100%;
        width: 40%;
        margin-right: 5%;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-scroll-snap-type: y mandatory;
        -ms-scroll-snap-type: y mandatory;
            scroll-snap-type: y mandatory;
    }
    .scroller106 {
        width: 40%;
        left: auto;
        right: 0px;
    }
    .scroller100 {
        width: 40%;
        left: auto;
        right: 0px;
    }
    .slideRight {
        animation: slideUp .4s ease-in-out;
        }
}