/* .sectionScroller {
    -webkit-scroll-snap-type: y mandatory;
        -ms-scroll-snap-type: y mandatory;
            scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sectionScroller::-webkit-scrollbar {
    display: none;
}

.scrollActive {
    scroll-snap-align: center;
}

.stopScroll {
    overflow-y: hidden;
}

@media (min-aspect-ratio: 2/3){

}

@media (min-aspect-ratio: 19/24){

}

@media (min-aspect-ratio: 4.5/3){

} */