* {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
#container {
    height: 100%;
    overflow-y: scroll;
    -webkit-scroll-snap-type: y mandatory;
        -ms-scroll-snap-type: y mandatory;
            scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: white;
}

#container::-webkit-scrollbar {
    display: none;
}


.section {
    height: calc(100% - 20vh);
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 6vh;
    border-radius: 10vw;
    box-shadow: 2px 1px 3px rgb(0 0 0 / .2);
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    overflow: visible;
    transition: background-color 0.5s ease-in-out;
}

#section0 {
    background-color: rgb(255, 183, 0);
    display: flex;
    margin-top: calc(50vh - 14vw);
}

#section1 {
    background-color: rgb(203, 54, 54);
    display: flex;
}

#section2 {
    background-color: rgb(150, 52, 150);
    display: flex;
}

#section3 {
    background-color: rgb(25, 152, 80);
    display: flex;
}

#section4 {
    background-color: rgb(25, 152, 80);
    display: flex;
    margin-bottom: calc(50vh - 14vw);
}

.title {
    height: 30%;
    width: 80%;
    font-size: 6vh;
    margin: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    opacity: 95%;
    font-weight: bold;
    text-shadow: 2px 1px 3px rgb(0 0 0 / .2);
    display: flex;
    justify-content: center;
    align-items: center;
    animation:appear .4s ease-in-out;
}

.titleSection {
    margin-left: 30vw;
    justify-content: left;
}

/* scroller has height of 64% */

.indicator {
    height: 6%;
    width: 100%;
    border-bottom-right-radius: 10vw;
    border-bottom-left-radius: 10vw;
    overflow: hidden;
}

#indicator1 {
    opacity: 12%;
    background-image: linear-gradient(rgb(255, 183, 0), rgb(203, 54, 54));
}

#indicator2 {
    opacity: 25%;
    background-image: linear-gradient(rgb(203, 54, 54), rgb(150, 52, 150));
}

#indicator3 {
    opacity: 5%;
    background-image: linear-gradient(rgb(150, 52, 150), rgb(25, 152, 80));
}

#indicator4 {
    opacity: 0%;
    background-image: linear-gradient(rgb(25, 152, 80), rgb(255, 183, 0));
}

@keyframes appear {
    0%{
        transform: translateY(-60vh);
        opacity: .1;
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes appearRight {
    0%{
        transform: translateX(50vh);
        opacity: .7;
    }
    100%{
        transform: translateX(0vh);
        opacity: 1;
    }
}