* {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    height: 100%;
    overflow-x: hidden;
    scroll-snap-align: center;
    scrollbar-width: none;
    background-color: white;
}

#container::-webkit-scrollbar {
    display: none;
}


.section {
    height: 69vh;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10vw;
    box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
    position: relative;
    scroll-snap-type: auto;
    align-items: center;
    justify-content: center;
    overflow: visible;
    /* animation: sectionSlide .4s ease-in-out; */
    transition: height 0.15s ease-in-out, margin 0.15s ease-in-out, border-radius 0.15s ease-in-out;
}

#section4 {
    background-color: rgb(25, 152, 80);
    margin-top: calc(50vh);
}

#section0 {
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    box-shadow: none;
    color: black;
}

#section1 {
    background-color: rgb(255, 183, 0);
}

#section2 {
    background-color: rgb(150, 52, 150);
}

#section3 {
    background-color: rgb(203, 54, 54);
    margin-bottom: calc(50vh);
}

.title {
    z-index: 5;
    height: 20%;
    font-size: 6vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    opacity: 0%;
    font-weight: bold;
    text-shadow: 2px 1px 3px rgb(0 0 0 / .2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    transition: padding-top .3s ease-in-out;
    cursor: default;
}

.email {
    font-size: 3.5vh;
    text-decoration: none;
    height: 10%;
    padding-bottom: 5vw;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
}

.icon {
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.info {
    height: 15vh;
    font-size: 3vh;
    opacity: 0%;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 2px 1px 3px rgb(0 0 0 / .2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.blacktext {
    color: rgb(169, 169, 169);
    text-shadow: none;
    font-size: 2.4vh;
    padding-right: 15vw;
    padding-left: 15vw;
    cursor: default;
    text-align: center;
}

.mainTitle {
    color: black;
    padding-top: 10vh;
}

.nav {
    /* height: 70%;
    width: 100%;
    display: flex;
    align-items: center; */
}

.hidden {
    opacity: 0%;
}

.slideIn {
    animation: slideIn .4s ease-in-out;
    opacity: 95%;
}

.slideOut {
    animation: slideOut .4s ease-in-out;
    opacity: 95%;
}

.slideText {
    animation: slideInText .4s ease-in-out;
    opacity: 95%;
}

.slideOutText {
    animation: slideOutText .4s ease-in-out;
    opacity: 95%;
}

@media (min-aspect-ratio: 2/3){
    #container {
        height: 100%;
        /* overflow-y: auto; */
        overflow-x: hidden;
        scroll-snap-align: center;
        scrollbar-width: none;
    }
    
    #container::-webkit-scrollbar {
        display: none;
    }
    
    .section {
        height: 69vh;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border-radius: 10vw;
        box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
        position: relative;
        scroll-snap-type: none;
        align-items: center;
        justify-content: center;
        overflow: visible;
        /* animation: sectionSlide .4s ease-in-out; */
        transition: height 0.15s ease-in-out, margin 0.15s ease-in-out, border-radius 0.15s ease-in-out;
    }

    .title {
        padding-top: 0%;
        z-index: 5;
        height: 20%;
        font-size: 7vh;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-shadow: 2px 1px 3px rgb(0 0 0 / .2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .email {
        font-size: 3.5vh;
        text-decoration: none;
        height: 13%;
        justify-content: space-between;
        padding-top: 10vh;
        padding-bottom: 5vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .icon {
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .blacktext {
        color: rgb(169, 169, 169);
        text-shadow: none;
        font-size: 2.4vh;
        padding-right: 15vw;
        padding-left: 15vw;
    }
    
    .mainTitle {
        padding-top: 10vh;
    }
}

@media (min-aspect-ratio: 21/24){
    #container {
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        scroll-snap-align: center;
        scrollbar-width: none;
        background-color: white;
    }
    
    #container::-webkit-scrollbar {
        display: none;
    }
    
    .section {
        height: 102vh;
        width: 100vw;
        margin-right: 100%;
        margin-left: 0vh;
        margin-top: 0vh;
        margin-bottom: 0vh;
        border-radius: 0vw;
        box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
        display: flex;
        flex-direction: auto;
        position: relative;
        scroll-snap-type: none;
        align-items: center;
        justify-content: center;
        overflow: visible;
        /* animation: sectionSlide .4s ease-in-out; */
        transition: none;
    }

    .title {
        z-index: 5;
        height: 100%;
        width: 60%;
        font-size: 8vh;
        font-family: Arial, Helvetica, sans-serif;
        opacity: 0%;
        font-weight: bold;
        text-shadow: 2px 1px 3px rgb(0 0 0 / .2);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0%;
    }

    .slideIn {
        animation: slideInBig .5s ease-in-out;
        opacity: 95%;
    }

    .slideOut {
        animation: slideOut .4s ease-in-out;
        opacity: 95%;
    }

    .email {
        font-size: 3.5vh;
        text-decoration: none;
        height: 10%;
        padding-bottom: 5vw;
        justify-content: space-between;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .info {
        padding-top: 0;
        margin-top: 0;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .slideText {
        animation: slideInTextBig .4s ease-in-out;
        opacity: 95%;
    }

    #section4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mainTitle {
        height: 30vh;
        padding-top: 40vh;
    }
}

@media (min-aspect-ratio: 4.5/3){
    #container {
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        scroll-snap-align: center;
        scrollbar-width: none;
        background-color: white;
    }
    
    #container::-webkit-scrollbar {
        display: none;
    }
    
    .section {
        height: 102vh;
        width: 100vw;
        margin-right: 100%;
        margin-left: 0vh;
        margin-top: 0vh;
        margin-bottom: 0vh;
        border-radius: 0vw;
        box-shadow: 2px 1px 3px rgb(0 0 0 / .15);
        display: flex;
        flex-direction: auto;
        position: relative;
        scroll-snap-type: none;
        align-items: center;
        justify-content: center;
        overflow: visible;
        /* animation: sectionSlide .4s ease-in-out; */
        transition: none;
    }

    .title {
        z-index: 5;
        height: 100%;
        width: 60%;
        font-size: 8vh;
        font-family: Arial, Helvetica, sans-serif;
        opacity: 0%;
        font-weight: bold;
        text-shadow: 2px 1px 3px rgb(0 0 0 / .2);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0%;
    }

    .slideIn {
        animation: slideInBig .5s ease-in-out;
        opacity: 95%;
    }

    .slideOut {
        animation: slideOut .4s ease-in-out;
        opacity: 95%;
    }

    .email {
        font-size: 3.5vh;
        text-decoration: none;
        height: 10%;
        padding-bottom: 5vw;
        justify-content: space-between;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .info {
        padding-top: 0;
        margin-top: 0;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .slideText {
        animation: slideInTextBig .4s ease-in-out;
        opacity: 95%;
    }

    #section4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mainTitle {
        height: 30vh;
        padding-top: 40vh;
    }
}

@keyframes sectionSlide {
    0%{
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
    100%{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}

@keyframes slideIn {
    0%{
        transform: translateX(-100vw);
        opacity: .9;
    }
    100%{
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes slideInBig {
    0%{
        transform: translateY(-100vh);
        opacity: .9;
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes slideOut {
    0%{
        transform: translateX(0vw);
        opacity: .9;
    }
    100%{
        transform: translateX(-100vw);
        opacity: 1;
    }
}

@keyframes slideOutBig {
    0%{
        transform: translateY(0vw);
        opacity: .9;
    }
    100%{
        transform: translateY(-100vw);
        opacity: 1;
    }
}

@keyframes slideInTextBig {
    0%{
        transform: translateY(100vh);
        opacity: .9;
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes slideInText {
    0%{
        transform: translateX(100vw);
        opacity: .9;
    }
    100%{
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes slideOutText {
    0%{
        transform: translateX(0vw);
        opacity: 1;
    }
    100%{
        transform: translateX(100vw);
        opacity: .9;
    }
}